.checkBoxContainer {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 150px;
    background-color: var(--branco);
    border-radius: 10px;
    padding: 10px;
}

.checkBoxContainer span:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
    font-weight: bold;
}

input {
    margin-bottom: 5px;
}

label {
    margin-bottom: 5px;
}

.checkBoxContainer label:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.checkBoxContainer label:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

.checkBoxContainer label:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
}

.checkBoxContainer label:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
}

.checkBoxContainer input:nth-child(6) {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
}

.checkBoxContainer input:nth-child(7) {
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
}

.checkBoxContainer input:nth-child(8) {
    grid-column: 2;
    grid-row: 4;
    justify-self: start;
}

.checkBoxContainer input:nth-child(9) {
    grid-column: 2;
    grid-row: 5;
    justify-self: start;
}